In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("C:/Users/admin/Downloads/26.Salaries.csv",encoding='ISO-8859-1')
df

C:\Users\admin\AppData\Local\Temp\ipykernel_2188\571618441.py:1: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("C:/Users/admin/Downloads/26.Salaries.csv",encoding='ISO-8859-1')

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148643,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,PT
148644,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,PT
148645,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,PT
148646,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,PT
148647,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,PT

In [5]:
#Filter data for years 2011 and 2014
data_2011 = df[df['Year'] == 2011]
data_2014 = df[df['Year'] == 2014]

#Calculate total salary cost for each year
total_salary_2011 = data_2011['TotalPayBenefits'].sum()
total_salary_2014 = data_2014['TotalPayBenefits'].sum()

#Calculate the increase in total salary cost
increase_in_salary_cost = total_salary_2014 - total_salary_2011

print("Total salary cost increase from 2011 to 2014:", increase_in_salary_cost)

Total salary cost increase from 2011 to 2014: 1227752749.88

In [6]:
#Find the top-earning employee across all years
top_earning_employee = df.loc[df['TotalPayBenefits'].idxmax()]

print("Top-earning employee:")
print(top_earning_employee['EmployeeName'], "with a total earning of", top_earning_employee['TotalPayBenefits'])

Top-earning employee:
NATHANIEL FORD with a total earning of 567595.43