In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("C:/Users/admin/Downloads/12.real state.csv", encoding='ISO-8859-1')
df

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768
...,...,...,...,...,...,...,...,...,...,...,...,...
980,9169 GARLINGTON CT,SACRAMENTO,95829,CA,4,3,2280,Residential,Thu May 15 00:00:00 EDT 2008,232425,38.457679,-121.359620
981,6932 RUSKUT WAY,SACRAMENTO,95823,CA,3,2,1477,Residential,Thu May 15 00:00:00 EDT 2008,234000,38.499893,-121.458890
982,7933 DAFFODIL WAY,CITRUS HEIGHTS,95610,CA,3,2,1216,Residential,Thu May 15 00:00:00 EDT 2008,235000,38.708824,-121.256803
983,8304 RED FOX WAY,ELK GROVE,95758,CA,4,2,1685,Residential,Thu May 15 00:00:00 EDT 2008,235301,38.417000,-121.397424
984,3882 YELLOWSTONE LN,EL DORADO HILLS,95762,CA,3,2,1362,Residential,Thu May 15 00:00:00 EDT 2008,235738,38.655245,-121.075915

In [8]:
#City wise list of all Villas which are not less than ten thousand
villas_above_10000 = df[(df['type'] == 'Residential') & (df['price'] >= 10000) & (df['beds'] == 'Villa')]
print("City wise list of all Villas not less than $10,000:")
print(villas_above_10000[['city', 'street', 'sq__ft', 'sale_date']])

City wise list of all Villas not less than $10,000:
Empty DataFrame
Columns: [city, street, sq__ft, sale_date]
Index: []

In [4]:
#In GALT city, residential types with more than 800 sq__ft
galt_residential = df[(df['city'] == 'GALT') & (df['type'] == 'Residential') & (df['sq__ft'] > 800)]
galt_residential_details = galt_residential[['street', 'sq__ft', 'sale_date', 'city']]
print("\nDetails of residential types with more than 800 sq__ft in GALT city:")
print(galt_residential_details)

Details of residential types with more than 800 sq__ft in GALT city:
                  street  sq__ft                     sale_date  city
55    1122 WILD POPPY CT    1406  Wed May 21 00:00:00 EDT 2008  GALT
61      306 CAMELLIA WAY    1130  Wed May 21 00:00:00 EDT 2008  GALT
63            404 6TH ST    1479  Wed May 21 00:00:00 EDT 2008  GALT
174   1121 CREEKSIDE WAY    1080  Tue May 20 00:00:00 EDT 2008  GALT
189      840 TRANQUIL LN    1266  Tue May 20 00:00:00 EDT 2008  GALT
281        993 MANTON CT    2307  Tue May 20 00:00:00 EDT 2008  GALT
296    796 BUTTERCUP CIR    2159  Tue May 20 00:00:00 EDT 2008  GALT
307      1092 MAUGHAM CT    3746  Tue May 20 00:00:00 EDT 2008  GALT
372         201 CARLO CT    1080  Mon May 19 00:00:00 EDT 2008  GALT
402  746 MOOSE CREEK WAY    1100  Mon May 19 00:00:00 EDT 2008  GALT
409        332 PALIN AVE    1204  Mon May 19 00:00:00 EDT 2008  GALT
439        913 COBDEN CT    1555  Mon May 19 00:00:00 EDT 2008  GALT
454      709 CIMMARON CT    1798  Mon May 19 00:00:00 EDT 2008  GALT
480    1042 STARBROOK DR    1928  Mon May 19 00:00:00 EDT 2008  GALT
508      200 OAKWILDE ST    1606  Mon May 19 00:00:00 EDT 2008  GALT
652        925 COBDEN CT    1140  Fri May 16 00:00:00 EDT 2008  GALT
761       294 SPARROW DR    2214  Fri May 16 00:00:00 EDT 2008  GALT
800     1214 DAWNWOOD DR    1548  Fri May 16 00:00:00 EDT 2008  GALT
957     82 WILDFLOWER DR    1262  Thu May 15 00:00:00 EDT 2008  GALT
968     1178 WARMWOOD CT    1770  Thu May 15 00:00:00 EDT 2008  GALT

In [10]:
#Cheapest Villa in CA: Name the city, street, and price
cheapest_villa = df[(df['type'] == 'villa') & (df['state'] == 'CA')].sort_values('price').iloc[0]
cheapest_villa_info = {
    'city': cheapest_villa['city'],
    'street': cheapest_villa['street'],
    'price': cheapest_villa['price']
}
print("\nCheapest Villa in CA:")
print(cheapest_villa_info)

Cheapest Villa in CA:
{'city': 'SACRAMENTO', 'street': '5840 WALERGA RD', 'price': 40000}

In [6]:
#List top 5 residencies meeting specific criteria
top_residencies = df[(df['price'] >= 60000) & (df['price'] <= 120000) &
                       (df['sq__ft'] > 1450) & (df['beds'] >= 3) & (df['baths'] >= 2)].head(5)
print("\nTop 5 residencies within budget and specific criteria:")
print(top_residencies)

Top 5 residencies within budget and specific criteria:
           street        city    zip state  beds  baths  sq__ft          type  \
366  7342 GIGI PL  SACRAMENTO  95828    CA     4      4    1995  Multi-Family

                        sale_date   price   latitude   longitude
366  Mon May 19 00:00:00 EDT 2008  120000  38.490704 -121.410176

In [14]:
#Separate list of residential apartments with more than 2 beds and specific columns
apartments_2beds = df[(df['type'] == 'Residential') & (df['beds'] > 2)]
apartments_2beds_columns = apartments_2beds[['city', 'baths', 'sq__ft', 'price', 'type', 'beds']]
print("\nList of residential apartments with more than 2 beds:")
print(apartments_2beds_columns)

List of residential apartments with more than 2 beds:
                city  baths  sq__ft   price         type  beds
1         SACRAMENTO      1    1167   68212  Residential     3
6         SACRAMENTO      2    1104   90895  Residential     3
7         SACRAMENTO      1    1177   91002  Residential     3
9          RIO LINDA      2    1146   98937  Residential     3
10        SACRAMENTO      2     909  100309  Residential     3
..               ...    ...     ...     ...          ...   ...
980       SACRAMENTO      3    2280  232425  Residential     4
981       SACRAMENTO      2    1477  234000  Residential     3
982   CITRUS HEIGHTS      2    1216  235000  Residential     3
983        ELK GROVE      2    1685  235301  Residential     4
984  EL DORADO HILLS      2    1362  235738  Residential     3

[715 rows x 6 columns]